a {
  color: #cb0001; }

.zu-top {
  background: #FE0001;
  border-bottom: 1px solid #cb0001; }

.zu-top-search-input {
  background-color: #ffe6e6;
  border: 1px solid #e70001; }

.zu-top-search-form .zu-top-search-button {
  background: #ff1b1c;
  border: 1px solid #e70001; }

.ac-active {
  background-color: #ffe6e6; }

.zu-top-add-question {
  background: #ff1b1c;
  border: 1px solid #e70001; }
  .zu-top-add-question:active {
    background: #f60001;
    border: 1px solid #c30001; }

.zu-top-nav-li.current {
  background: #dd0001; }

.modal-dialog-title {
  background: #f40001;
  border: 1px solid #ea0001; }

.zg-btn-blue {
  background: #ff2021;
  border: 1px solid #f90001; }
  .zg-btn-blue:active {
    background: #ff1112; }

.goog-buttonset-default {
  background: #ff2021;
  border: 1px solid #f90001; }

.zg-btn-green, .zg-btn-follow {
  background: #8ab923; }

.zu-top-nav-userinfo.selected, html.no-touchevents .top-nav-profile:hover .zu-top-nav-userinfo {
  background: #dd0001; }

html.no-touchevents .top-nav-dropdown a:hover {
  background-color: #ff0405; }

.top-nav-profile a {
  background-color: #dd0001; }

.top-nav-dropdown li a {
  border-top: 1px solid #d80001; }

.ProfileProgress-completeness {
  background: #ff3233; }

.topics-plaza {
  border: 1px solid #ff9999;
  background: #fff2f2; }

a.zu-main-feed-fresh-button {
  border: 1px solid #ff9999;
  background: #fff2f2; }
  a.zu-main-feed-fresh-button:hover, a.zu-main-feed-fresh-button:active {
    border: 1px solid #ff9191;
    background: #ffeaea; }

html.no-touchevents .zm-topic-cat-main li:hover a, .zm-topic-cat-main li.current a {
  background: #cb0001;
  border-color: #cb0001; }

.zm-side-nav-link.active,
html.no-touchevents .zm-side-nav-link:hover {
  color: #cb0001;
  background: #ffebeb; }

html.no-touchevents .SidebarListNav-itemLink:hover {
  color: #cb0001;
  background: #ffebeb; }

html.no-touchevents .zh-summary:hover a.toggle-expand {
  background: #ffebeb; }

.item-collapse.is-sticky {
  background: #ff8c8d; }

.zm-votebar .up,
.zm-votebar .down {
  background: #ffebeb;
  color: #ff8080; }

.zm-votebar .up .vote-arrow {
  border-bottom-color: #ff8080; }

.zm-votebar .down .vote-arrow {
  border-top-color: #ff8080; }

html.no-touchevents .zm-votebar .up:hover,
html.no-touchevents .zm-votebar .down:hover,
.zm-votebar .up.pressed,
.zm-votebar .down.pressed {
  background: #ff8080; }

.zm-item-vote-count {
  background: #ffebeb;
  color: #ff8080; }

html.no-touchevents .zm-item-vote-count:hover {
  background: #ff8080; }

.Link--light {
  color: #ff8080; }
