// Layout

.cozh-page-container {
  line-height: 1.6;
}

section {
  margin-bottom: 40px;
}

.page-header {
  padding-bottom: 19px;
  margin-bottom: 29px;
}

.half-rule {
	width: 100px;
	margin: 40px auto;
}